.app-container {
  height: 100%;
}

.app-header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  height: 40px;
  align-self: center;
  margin-right: 10px;
}

.main-menu {
  align-self: center;
}

.app-content {
  margin-top: 64px;
  padding: 10px 50px;
}
