.app-container {
  height: 100%;
}

.app-header {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  height: 40px;
  align-self: center;
  margin-right: 10px;
}

.main-menu {
  align-self: center;
}

.app-content {
  margin-top: 64px;
  padding: 20px 50px 50px;
}

.ant-spin-container {
  height: 100%;
}

.app-loader.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100%;
  position: fixed;
}

.ant-spin-blur {
  overflow: auto;
  opacity: .4;
}
